<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.onbo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="app.onbo.OnboApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/onbo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/onbo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.appsee.ApiKey"
            android:value="bbe36f48dac14a66898995933c769549" />

        <activity
            android:name="app.onbo.root.RootActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.dinein.DineInActivity"
            android:label="@string/title_activity_dine_in_home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.utils.CustomQRView"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.auth.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="app.onbo.modules.dinein.activities.InitializeDineOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver android:name="app.onbo.utils.SMSListener">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="app.onbo.modules.nondine.activities.NonDineRestaurantDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.nondine.NonDineActivity"
            android:label="@string/title_activity_non_dine"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.orders.RestaurantOrdersActivity"
            android:label="@string/title_activity_restaurant_orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="app.onbo.modules.payment.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.entry.RestaurantMenuEntryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.entry.SimpleScannerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_Urey27vmU2QSYM" />

        <activity
            android:name="app.onbo.root.activities.RestaurantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name="app.onbo.modules.nondine.activities.InitNonDineOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.intro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.intro.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.onbo.modules.account.activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.account.activities.EditAccountDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.account.activities.FavouritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.account.activities.HelpSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.account.activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.orders.fragments.MyOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.onbo.modules.auth.AuthTnCActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>